.header {
    min-height: 150px;
    min-width: 700px;
    border-bottom: 1px solid #31bcff;
    margin-top: 20px;

    .logo {
        width: 183px;
        min-width: 183px;
        color: #ffffff;
        text-transform: uppercase;
        font-size: 30px;
        margin-left: 15%;
        margin-top: 20px;
        display: inline-block;
    
        p {
            line-height: 0.9;
        }

        .logo-points {
            font-weight: bold; 
            font-size: 52px;
        }
        
        .logo-edition {
            text-transform: none;
            font-size: 11.5px;
            display: block;
            padding-top: 5px;
            text-align: right;
        }
    }
    
    .new-game-btn {
        background-color: #ffd727;
        border: none;
        height: 42px;
        width: 200px;
        border-radius: 3px;
        color: rgb(77, 77, 77);
        font-size: 16px;
        margin-top: 40px;
        margin-right: 150px;
        display: block;
        float: right;
    }
}

.game-progress {
    border-bottom: 1px solid #31bcff;
    min-width: 700px;
    
    .cards {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        flex-wrap: wrap;

        .dart {
            display: inline-block;
            color: #ffffff;
            margin-right: 20px;
        }

        .card {
            margin-left: 5%;

            .name {
                background-color: #039be6;
                border: none;
                color: #ffffff;
            }

            .name-first-card {
                margin-left: 58px;
            }
    
            .point {
                width: 70px;
                height: 20px;
                border: 2px solid white;
                border-radius: 2px;
                margin-bottom: 4px;
            }
    
            .check {
                color: rgb(77, 77, 77);
                height: 22px;
                width: 25px;
                display: inline-block;
                padding: 1px;
                text-align: center;
                margin: 0;
                background-color: #ffffff;
                cursor: pointer;
                border: 1.8px solid rgb(77, 77, 77);
                user-select: none;
            }
            
            .check:hover {
                color: #ffffff;
                background-color: rgb(77, 77, 77);
            }

            .check:active {
                transform: translateY(2px);
                box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0px -1px 0 rgba(0, 0, 0, 0.22);
            }

            .center-check {
                border-left: none;
                border-right: none;
            }

            .last-check {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }

            .circle {
                display: none;
            }

            .checked {
                color: #ffffff;
                background: rgb(77, 77, 77);
            }
            
            .invalid  {
                border: 2px solid red;
            }
        }

        .first-card {
            margin-left: 0;
        }
    }

    button {
        margin: auto;
        display: block;
        width: 400px;
        height: 45px;
        border: none;
        background-color: #faeaa5;
        color: rgb(124, 116, 116);
        font-size: 20px;
        border-radius: 2px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .active {
        background-color: #ffd727;
        color: rgb(77, 77, 77);
    }
}

.table-step {
    width: 70%;
    margin: auto auto 40px auto;

    .step {
        display: inline-block;
        width: 5%;
        margin-top: 72.8px;
        
        table {
            background: none;
            border-collapse: collapse;
            text-align: center;
            font-size: 16px;

            td {
                height: 40px;
                color: #ffffff;
                border-bottom: 2px solid #039be6;
            }
        }
    }

    .step-point {
        display: inline-block;
        width: 95%;
        margin-top: 40px;
        vertical-align: top;
    
        table {
            width: 100%;
            border-collapse: collapse;
            color: rgb(77, 77, 77);
            text-align: center;
            background: #ffffff;
            font-size: 16px;
            
            th {
                background: #039be6;
                color: #ffffff;
                font-weight: 400;
                padding-bottom: 5px;
        
                div {
                    background: url('https://raw.githubusercontent.com/sumarenko/scoring-in-darts/main/src/assets/icon.png') no-repeat;
                    width: 22px;
                    height: 22px;
                    display: inline-block;
                    background-size: contain;
                    margin: 0;
                }
            }
        
            td {
                height: 40px;
                border-bottom: 2px solid #039be6;
            }
        }
    }
}

.invalid  {
    border: 2px solid red;
}