<div class="header">
    <div class="logo">
        <p>count your 
            <span class="logo-points">points</span>
            <span class="logo-edition">© SoftClub edition</span>
        </p> 
    </div>
    <button class="new-game-btn" (click)="selectGame()">New game</button>
</div>

<div class="game-progress">

    <!--FormArray-->
    <div *ngFor="let card of cards.controls; let i = index">
        <!--FormGroup-->
        <form [formGroup]="cardGroup">
            <ng-container [formGroupName]="i">
                <p formControlName="name"></p>
                <!--FormArray-->
                <ng-container formArrayName="points">
                    <div *ngFor="let _ of points.controls">
                        <!--FormGroup-->
                        <ng-container>
                            <input formControlName="point" />
                            <input formControlName="circle" />
                        </ng-container>
                    </div>
                </ng-container>
            </ng-container>
        </form>
     </div>
    
</div>

<!--    <div *ngFor="let control of cards.controls; index as i">
        <input [formControl]="cards.controls[i]" />
      </div>
    <tr *ngFor="let player of players">
        <td>
          {{player.name}}
        </td> 
      </tr>
--> 