<div class="header">
    <div class="logo">
        <p>count your 
            <span class="logo-points">points</span>
            <span class="logo-edition">© SoftClub edition</span>
        </p> 
    </div>
    <button class="new-game-btn" (click)="selectGame()">New game</button>
</div>

<div class="game-progress">
    <div class="cards">
        <div class="card" *ngFor="let card of cards.controls; let j = index"
        [class.first-card]="j === 0">
            <form [formGroup]="card">
                <input class="name" formControlName="name" readonly 
                [class.name-first-card]="j === 0"/>
                <div formArrayName="points">
                    <div *ngFor="let _ of card.controls.points.controls; let i = index">
                        <ng-container [formGroupName]="i">
                            <div *ngIf="j === 0 && i===0" class="dart">
                                Dart 1
                            </div>  
                            <div *ngIf="j === 0 && i===1" class="dart">
                                Dart 2
                            </div>
                            <div *ngIf="j === 0 && i===2" class="dart">
                                Dart 3
                            </div>
                            <input class="point" formControlName="point" 
                                [class.invalid]="card.controls.points.controls[i].invalid && 
                                card.controls.points.controls[i].touched" />  
                            <label class="check" [class.checked]="card.controls.points.controls[i].value.circle === '1'">
                            <input type="radio" value="1" formControlName="circle" class="circle" />
                                1x
                            </label>
                            <label class="check center-check" [class.checked]="card.controls.points.controls[i].value.circle === '2'">
                                <input type="radio" value="2" formControlName="circle" class="circle" />
                                2x
                            </label>
                            <label class="check last-check" [class.checked]="card.controls.points.controls[i].value.circle === '3'"> 
                            <input type="radio" value="3" formControlName="circle" class="circle" />
                                3x
                            </label>
                        </ng-container>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <button [disabled]="cards.invalid" (click)="countPoint(gameType)" [class.active]="!cards.invalid">
        Add
    </button> 
</div>

<div class="step-point">
    <table>
        <th></th>
        <th *ngFor="let player of players">
            {{player.name}}
            <div *ngIf="player.leader"></div>
        </th>
        <tr *ngFor="let step of steps | reverse; let i = index;">
            <td class="step-num">
                {{this.steps.indexOf(step) + 1}}
            </td>
            <td *ngFor="let player of players">
                {{step[player.name]}}
            </td>
        </tr>
    </table>
</div>
