<div class="logo">
    <p>count your 
      <span class="logo-points">points</span>
      <span class="logo-edition">© SoftClub edition</span>
    </p> 
</div>

<div class="add-player">
    <p>Add a new player to start the game</p> 
    <div class="form" [formGroup]="playerForm" novalidate>
        <label>Nickname</label>
        <input type="text" name="nickname" formControlName="playerNickname" />
        <div class="alert-danger"
            *ngIf="playerForm.controls['playerNickname'].invalid && playerForm.controls['playerNickname'].touched">
            No nickname specified
        </div>
        <label>e-mail</label>
        <input type="text" name="email" formControlName="playerEmail" />
        <div class="alert-danger"
            *ngIf="playerForm.controls['playerEmail'].invalid && playerForm.controls['playerEmail'].touched">
            Invalid e-mail
        </div>
        <button [disabled]="playerForm.invalid" (click)="submit()">Add</button>
    </div>
</div>