<div class="logo">
    <p>count your 
      <span class="logo-points">points</span>
      <span class="logo-edition">© SoftClub edition</span>
    </p> 
</div>

<div class="add-player">
    <p>Add a new player to start the game</p> 
    <div class="form" [formGroup]="form" novalidate>
        <label>Nickname</label>
        <input type="text" formControlName="name" />
        <label>e-mail</label>
        <input type="text" formControlName="email" />
        <button [disabled]="form.invalid" (click)="addPlayer()" [class.disable]="form.invalid && form.touched">
            Add
        </button>
    </div>
</div>