<div class="logo">
    <p>count your 
      <span class="logo-points">points</span>
      <span class="logo-edition">© SoftClub edition</span>
    </p> 
</div>

<div class="add-player">
    <p>Add a new player to start the game</p> 
    <div class="form" [formGroup]="form" novalidate>
        <label>Nickname</label>
        <input type="text" formControlName="name" [class.invalid]="form.controls['name'].invalid && form.controls['name'].touched" />
        <div class="alert-danger"
            *ngIf="form.controls['name'].invalid && form.controls['name'].touched">
            Invalid nickname
        </div>
        <label>e-mail</label>
        <input type="text" formControlName="email" [class.invalid]="form.controls['email'].invalid && form.controls['email'].touched" />
        <div class="alert-danger"
            *ngIf="form.controls['email'].invalid && form.controls['email'].touched">
            Invalid e-mail
        </div>
        <button [disabled]="form.invalid" (click)="addPlayer()" [class.active]="!form.invalid">Add</button>
    </div>
</div>