.logo {
    width: 183px;
    min-width: 183px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 30px;
    margin: auto;
    margin-top: 5%;

    p {
        line-height: 0.9;
    }

    .logo-points {
        font-weight: bold; 
        font-size: 52px;
    }
    
    .logo-edition {
        text-transform: none;
        font-size: 11.5px;
        display: block;
        padding-top: 5px;
        text-align: right;
    }
}

.add-player {
    width: 310px;
    min-width: 310px;
    color: #ffffff;
    font-size: 17px;
    margin: auto;
    margin-top: 3%;
    text-align: center;  
}

.form {
    margin-top: 50px;
    text-align: left;
    
    label {
        text-align: left;
    }

    input {
        width: 306px;
        height: 30px;
        border: none;
        border-radius: 3px;
        margin-top: 5px;
        margin-bottom: 10px;      
    }

    button {
        background-color: #faeaa5;
        border: none;
        height: 42px;
        width: 100%;
        border-radius: 3px;
        color: rgb(124, 116, 116);
        font-size: 16px;
        margin-top: 55px;
    }

    .active {
        background-color: #ffd727;
        color: rgb(77, 77, 77);
    }

    .invalid  {
        border: 2px solid red;
    }
}

