.logo {
    width: 183px;
    min-width: 183px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 30px;
    margin-left: 10%;
    margin-top: 40px;

    p {
        line-height: 0.9;

        .logo-points {
            font-weight: bold; 
            font-size: 52px;
        }
        
        .logo-edition {
            text-transform: none;
            font-size: 11.5px;
            display: block;
            padding-top: 5px;
            text-align: right;
        }
    }
}

.select-game{
    width: 788px;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 40px;

    .select-players{
    
        p {
            color: #ffffff;
            font-size: 22px;
            margin-bottom: 15px;
        }
    
        .search {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            outline: none;
            height: 32px;
            position: relative;
            width: 375px;
            display: inline-block;
            margin-right: 13px;
            margin-bottom: 10px;

            input {
                height: 30px;
                width: 357px;
                border: none;
                border-radius: 2px;
                font-size: 16px;
                padding-left: 20px;
                color: rgb(77, 77, 77);
            }

            .icon {
                width: 22px;
                height: 22px;
                position: absolute;
                top: 5px;
                right: 10px;
                background: url('https://raw.githubusercontent.com/sumarenko/scoring-in-darts/main/src/assets/magnifying-glass.png');
                background-size: contain;
            }
        }
    
        a {
            display: inline-block;
            background-color: #ffd727;
            border: none;
            height: 27px;
            width: 400px;
            border-radius: 2px;
            color: rgb(77, 77, 77);
            font-size: 16px;
            text-align: center;
            vertical-align: top;
            text-decoration: none;
            cursor: auto;
            padding-top: 5px;
        }
    
        .name {
            padding-left: 20px;
            width: 364px;
        }
        
        table {
            border-spacing: 0;

            td {
                width: 450px;
                height: 40px;
                margin: auto;
                text-align: left;
                vertical-align: middle;
                color: rgb(77, 77, 77);
                background-color: white;
                border-bottom: 2px solid #039be6;
                font-size: 20px;
            }
        }
        
        .close-btn {
            margin-right: 15px;
            color: #9bc3da;
            float: right;
            font-size: 24px;
            cursor: pointer;
          }
    
          .close-btn:hover {
            color: #09497e;
          }
    }

    .choose-game {
        margin-top: 50px;

        p {
            color: #ffffff;
            font-size: 22px;
            margin-bottom: 15px;
        }

        .button-wrapper {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
        }

        .game-button {
            border-radius: 50%;
            height: 80px;
            width: 80px;
            box-sizing: content-box;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #ffffff;
            color: #4d5061;
            font-size: 26px;
            font-weight: bold;
            cursor: pointer;
        }

        .game-button-after {
            background: #09497e;
            color: #ffffff;
        }
    }

    .start {
        margin-top: 50px;
        width: 100%;
        height: 42px;
        border: none;
        background-color: #5eb99e;
        color: #ffffffaf;
        font-size: 20px;
        font-weight: bold;
        border-radius: 2px;
    }

    .active {
        background-color: #00c531;
        color: #ffffff;
    }
}




