<div class="logo">
    <p>count your 
      <span class="logo-points">points</span>
      <span class="logo-edition">© SoftClub edition</span>
    </p> 
</div>

<div class="select-players">
    <p>Select players</p>
    <input type="search" name="strInput" [(ngModel)]="strInput" placeholder="Search">
    <button (click)="addPlayer()">New player</button>
      <tr *ngFor="let player of players | search: strInput">
        <td>
          {{player.name}}
        </td> 
        <td>
          {{player.email}}
          <span class="closeBtn" (click)="removePlayer(player)">&times;</span> 
        </td> 
      </tr>  
</div>

<div class="choose-game">
  <p>Choose game</p>
    <div class="game-501" (click)="chooseGame('501')" [class.choose-game-before]="">
        501
    </div>
    <div class="game-301" (click)="chooseGame('301')">
      301
  </div>
</div>

<div class="start">
  <button [disabled]="">Start</button>
</div>
  

