<div class="logo">
    <p>count your 
      <span class="logo-points">points</span>
      <span class="logo-edition">© SoftClub edition</span>
    </p> 
</div>
  
<div class="select-players">
    <p>Select players</p>
    <input type="text" placeholder="Search">
    <button (click)="addPlayer()">New player</button>
      <tr *ngFor="let player of players">
        <td>{{player.name}}</td> 
        <td>{{player.email}}
          <span class="closeBtn" (click)="removePlayer(player)">&times;</span> 
        </td> 
      </tr >  
</div>