<div class="logo">
    <p>count your 
      <span class="logo-points">points</span>
      <span class="logo-edition">© SoftClub edition</span>
    </p> 
</div>

<div class="select-game">
  <div class="select-players">
    <p>Select players</p>
    <div class="search">
      <input type="text" name="strInput" [(ngModel)]="strInput" placeholder="Search" />
      <div class="icon"></div>
    </div>
    <button (click)="addPlayer()">New player</button>
    <table>
      <tr *ngFor="let myPlayer of players | search: strInput">
        <td class="name">
          {{myPlayer.name}}
        </td> 
        <td>
          {{myPlayer.email}}
          <span class="close-btn" (click)="removePlayer(myPlayer)">&times;</span> 
        </td> 
      </tr>  
    </table>
  </div>

  <div class="choose-game">
    <p>Choose game</p>
      <div class="game-501" (click)="chooseGame('501');" [class.choose-game-before]="gameType === '501'">
          501
      </div>
      <div class="game-301" (click)="chooseGame('301');" [class.choose-game-before]="gameType === '301'">
        301
    </div>
  </div>

  <button class="start" (click)="start()" 
    [class.active]="gameType && this.playerService.players.length >= 2">
    Start
  </button>
</div>
  

