.logo {
    word-break: break-all;
    width: 189px;
    color: #ffffff;
    text-transform: uppercase;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    position: absolute;
    top: 10%;
    left: 10%;

    p {
        margin: 0;
        padding: 0;
        line-height: 30px;
    }
}

.logo-points {
    font-weight: bold; 
    font-size: 52px;
}

.logo-edition {
    text-transform: none;
    font-size: 12px;
    display: block;
    text-align: right;
}

.select-players{
    position: absolute;
    top: 20%;
    left: 23%;
    margin: auto;

    p {
        color: #ffffff;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 22px;
        margin-bottom: 15px;
    }

    input {
        height: 30px;
        width: 380px;
        border: none;
        border-radius: 2px;
        margin-right: 5px;
        font-size: 16px;
        padding-left: 20px;
        color: rgb(77, 77, 77);
        margin-bottom: 10px;
    }

    button {
        background-color: #ffd727;
        border: none;
        height: 32px;
        width: 404px;
        border-radius: 2px;
        color: rgb(77, 77, 77);
        font-size: 16px;
    }

    div{
        width: 811px;
        height: 30px;
        margin: auto;
        text-align: left;
        color: rgb(77, 77, 77);
        background-color: white;
        margin-bottom: 2px;
    }
    
}